<!DOCTYPE html>
<html lang="en">

<head>
    
{{>header}}

</head>

<body>
    
{{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            
                            <div class="col-md-6 col-12 main_header_right align-items-center">
                                <figure>
                                    <img src="img/about.jpeg" alt="aarya" class="img-flid" title="aarya">
                                </figure>
                            </div>
                            <div class="col-md-6 col-12 main_header_left">
                                <p>welcome to the weather app</p>
                                <h1>I am a source of an <span class="text_color">information</span> who is providing update about weather
                                </h1>
                                <a href="https://www.google.com/"><button>about me</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{{>footer}}

</body>

</html>